{% load staticfiles %}

<html>
    <head>
        <title>Tutor Search</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/websearch.css' %}">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="page-header">
            <h1><a href="/">Tutor Search</a></h1>
        </div>
        <br>

        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% for info in infos %}
                        <div class="post">
                            Date: {{ info.created_date.date }} |
                            <a href=""> Name: {{ info.name }} Year: {{ info.year }} </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

{#        {% for info in infos %}#}
{#            <div class="list">#}
{#                Created: {{ info.created_date.date }}#}
{#                <a href="">#}
{#                    Name: {{ info.name }} Year: {{ info.year }}#}
{#                </a>#}
{#            </div>#}
{#            <br>#}
{#        {% endfor %}#}
    </body>
</html>